@prakashguruswamy24-group:registry=https://gitlab.com/api/v4/projects/77626992/packages/npm/
//gitlab.com/api/v4/projects/77626992/packages/npm/:_authToken=glpat-xQZMsk03TvhLFAGZMAh7hm86MQp1Omo3Mml5Cw.01.121utkgiz